@page
@model Document_Management_System.Pages.AdminPage.AdminMnewModel
@{
    ViewData["Title"] = "Admin add new user";
    Layout = "_LayoutDashboard";
}

<div class="add-user-form">
    <div class="form-header">
        <h2>Add User</h2>
    </div>

    <div class="profile-image">
        <img src="placeholder.png" alt="Profile Image" class="profile-pic" />
        <label for="fileInput" class="browse-button">
            Browse
            <input type="file" id="fileInput" style="display: none;" />
        </label>
    </div>

    <form method="post">
        <div class="user-details">
            <h3>User Details:</h3>
            <div class="form-group">
                <label asp-for="Input.FullName"><i class="fas fa-user"></i> Full Name</label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"><i class="fas fa-envelope"></i> Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"><i class="fas fa-key"></i> Password</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"><i class="fas fa-key"></i> Retype Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="save-button">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

